extends layout

block content
	.container
		form#signup-form(action="/search", method="post", role="form")
			input(type="text", name="searchterm", placeholder="What do you want to know about?")
			input.btn.btn-success(type="submit")