extends layout

block content
	nav.navbar.navbar-default(role='navigation')
		.navbar-header
			.container-fluid
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Recall Vault
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(data-toggle="modal", data-target="#signup-modal") Signup
				li
					a(data-toggle="modal", data-target="#login-modal") Login

	.jumbotron
		.container
			.signup-form.row
				form.col-sm-6.col-sm-offset-3(action="/search", method="post", role="form")
					.form-group
						input.form-control(type="text", name="searchterm", placeholder="Search Term(s)")
					.form-group.text-right
						button#search.btn.btn-primary<span class="glyphicon glyphicon-search"></span> Submit
	.row
		.container
			.cover-thumbs.thumbnail.col-sm-4
				.caption
					h4 Placeholder
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero molestias. Sequi sit aliquam harum veniam accusantium labore quibusdam quas odio omnis recusandae quis ipsum atque quaerat, id necessitatibus!
			.cover-thumbs.thumbnail.col-sm-4
				.caption
					h4 Consumer Safety Simplified
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero molestias. Sequi sit aliquam harum veniam accusantium labore quibusdam quas odio omnis recusandae quis ipsum atque quaerat, id necessitatibus!
			.cover-thumbs.thumbnail.col-sm-4
				.caption
					//- i.fa.fa-home.fa-5x
					h4 Placeholder
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero molestias. Sequi sit aliquam harum veniam accusantium labore quibusdam quas odio omnis recusandae quis ipsum atque quaerat, id necessitatibus!

	#signup-modal.modal.fade
		.modal-dialog
			form#signup-form.form(action="/auth/signup", method="post")
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Signup
					.modal-body
						.form-group
							input.form-control(type="text", name="username", placeholder="Username")
						.form-group
							input.form-control(type="email", name="email", placeholder="Email")
						.form-group
							input.form-control(type="password", name="password", placeholder="Password")
						.form-group
							input#signup-submit-button.form-control(type="submit")

	#login-modal.modal.fade
		.modal-dialog
			form#login-form.form(action="/auth/login", method="post")
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Login
					.modal-body
						.form-group
							input.form-control(type="text", name="username", placeholder="Username")
						.form-group
							input.form-control(type="password", name="password", placeholder="Password")
						.form-group
							input#login-submit-button.form-control(type="submit")

	nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
		.container