extends layout

block content
	//- Navbar Top
	nav.navbar.navbar-default(role='navigation')
		.navbar-header
			.container-fluid
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Recall Vault
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(data-toggle="modal", data-target="#signup-modal") Signup
				li
					a(data-toggle="modal", data-target="#login-modal") Login

	//- Jumbotron
	.jumbotron
		.container
			//- Search Bar
			.search-form.row
				form.col-sm-6.col-sm-offset-3(action="/search", method="post", role="form")
					.form-group
						input.form-control(type="text", name="searchterm", placeholder="Search Term(s)")
					.form-group.text-right
						button.btn.btn-primary<span class="glyphicon glyphicon-search"></span> Submit

	//- Thumbnails
	.row
		.container
			.col-sm-4
				.thumbnail
					.caption.text-center
						i.title-thumb.fa.fa-paper-plane.fa-5x
						h4 Stay Informed.
						p  Whenever a recall is issued for one of your products, our system sends you an email alert. That way, it's easy for you to stay updated about your ...
			.col-sm-4
				.thumbnail
					.caption.text-center
						i.title-thumb.fa.fa-home.fa-5x
						h4 Safety Simplified.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero molestias. Sequi sit aliquam harum veniam accusantium labore quibusdam quas odio omnis recusandae quis ipsum atque quaerat, id necessitatibus!
			.col-sm-4
				.thumbnail
					.caption.text-center
						i.title-thumb.fa.fa-cubes.fa-5x
						h4 ?
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero molestias. Sequi sit aliquam harum veniam accusantium labore quibusdam quas odio omnis recusandae quis ipsum atque quaerat, id necessitatibus!

	//- Modal for new users to signup
	#signup-modal.modal.fade
		.modal-dialog
			form#signup-form.form(action="/auth/signup", method="post")
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Signup
					.modal-body
						.form-group
							input.form-control(type="text", name="username", placeholder="Username")
						.form-group
							input.form-control(type="email", name="email", placeholder="Email")
						.form-group
							input.form-control(type="password", name="password", placeholder="Password")
						.form-group
							input.form-control.btn.btn-primary(type="submit")

	//- Modal for exisiting users to login
	#login-modal.modal.fade
		.modal-dialog
			form#login-form.form(action="/auth/login", method="post")
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Login
					.modal-body
						.form-group
							input.form-control(type="text", name="username", placeholder="Username")
						.form-group
							input.form-control(type="password", name="password", placeholder="Password")
						.form-group
							input.form-control.btn.btn-primary(type="submit")

	//- Navbar Bottom
	nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
		.container-fluid
			ul.nav.navbar-nav.navbar-left.navbar-bottom
				li
					a About
				li
					a FAQ
				li
					a Contact
				li
					a Privacy
				li
					a Connect | <i class="fa fa-angellist"> <i class="fa fa-github"> <i class="fa fa-stack-overflow"> <i class="fa fa-twitter"> <i class="fa fa-facebook"> <i class="fa fa-linkedin-square"> <i class="fa fa-reddit">