extends layout

block content
	//- Navbar Top
	nav.navbar.navbar-default(role='navigation')
		.navbar-header
			.container-fluid
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Recall Vault
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(data-toggle="modal", data-target="#signup-modal") Signup
				li
					a(data-toggle="modal", data-target="#login-modal") Login

	//- Jumbotron
	.jumbotron
		.container
			//- Search Bar
			.search-form.row
				form.col-sm-6.col-sm-offset-3(action="/search", method="post", role="form")
					.form-group
						input.form-control(type="text", name="searchterm", placeholder="Search Term(s)")
					.form-group.text-right
						button.btn.btn-primary<span class="glyphicon glyphicon-search"></span> Submit

	//- Thumbnails
	.container
		.row.thumbnail-row
			.col-md-4
				.caption.text-center
					i.title-thumb.fa.fa-home.fa-5x
					h4 Your Safety Simplified
					p  Recall Vault was built with one goal in mind - keeping you safe. By accessing data from EPA, FDA, USDA, NHTSA, and CPSC, you can easily search recalls. 
			.col-md-4
				.caption.text-center
					i.title-thumb.fa.fa-cubes.fa-5x
					h4 Customize a Product Library
					p  Building a custom library of products is easy! Simply create an account, add your products to the library, and we'll keep you in the loop.
			.col-md-4
				.caption.text-center
					i.title-thumb.fa.fa-paper-plane.fa-5x
					h4 Receive Personalized Alerts
					p  When a recall is issued for one of your products, our system sends you an email alert. That way, it's easy to stay up-to-date about the safety of your products.

	//- Modal for new users to signup
	#signup-modal.modal.fade
		.modal-dialog
			form#signup-form.form(action="/auth/signup", method="post")
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Signup
					.modal-body
						.form-group
							input.form-control(type="text", name="username", placeholder="Username")
						.form-group
							input.form-control(type="email", name="email", placeholder="Email")
						.form-group
							input.form-control(type="password", name="password", placeholder="Password")
						.form-group
							input.form-control.btn.btn-primary(type="submit")

	//- Modal for exisiting users to login
	#login-modal.modal.fade
		.modal-dialog
			form#login-form.form(action="/auth/login", method="post")
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Login
					.modal-body
						.form-group
							input.form-control(type="text", name="username", placeholder="Username")
						.form-group
							input.form-control(type="password", name="password", placeholder="Password")
						.form-group
							input.form-control.btn.btn-primary(type="submit")

	//- Navbar Bottom
	footer.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
		.container-fluid
			ul.nav.navbar-nav.navbar-right.navbar-bottom
				li.entrepreneurialByNature
					a
						img(src='images/Footer.png', alt='Colorado is entrepreneurial by nature')
				li.connect-social
					a Connect | <i class="fa fa-angellist"> <i class="fa fa-github"> <i class="fa fa-stack-overflow"> <i class="fa fa-twitter"> <i class="fa fa-facebook"> <i class="fa fa-linkedin-square"> <i class="fa fa-reddit">