doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Recall Vault
		link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="main.css")

	body
		.container
			block content
		
		//- jQuery
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		
		//- Underscore JS
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")

		//- Bootstrap JS
		script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js")
		
		//- Handlebars JS
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")
		
		//- Custom JS
		script(src="scripts/main.js")
		