extends layout

block content
	//- Navbar Top
	nav.navbar.navbar-default(role='navigation')
		.navbar-header
			.container-fluid
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Recall Vault
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				if !user
					li
						a No user exists
				else 
					li
						a Welcome, #{user.username}!
				li
					a(href='/auth/logout') Logout

	//- Sidebar
	.container-fluid
			.product-container.col-sm-3.sidebar
				ul#product-list.nav.nav-sidebar
					li
						a My Product Library
					for product in user.products
						li(data-id='#{product._id}')
							a= '- ' + product.manufacturer + ' ' + product.product + ' '
								span(style="cursor:pointer").deleteProduct.glyphicon.glyphicon-remove  
				ul.nav.nav-sidebar
					li
						a(data-toggle="modal", data-target="#new-product-modal") + Add New Product
	//- Search box
	#search-form.col-sm-6
		form(action="/search", method="post", role="form")
			.form-group
				input.form-control(type="text", name="searchterm", placeholder="Search for Recalls")
			.form-group.text-right
				button.btn.btn-primary<span class="glyphicon glyphicon-search"></span> Submit

	//- Modal for adding new products to user library
	#new-product-modal.modal.fade
		.modal-dialog
			form#new-product.form(action="", method="post")
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4.modal-title Add Product to Your Library
					.modal-body
						.form-group
							input.form-control(type="text", name="manufacturer", placeholder="Manufacturer")
						.form-group
							input.form-control(type="text", name="product", placeholder="Name of Product")
						.form-group
							input.form-control.btn.btn-success(type="submit")

	//- Navbar Bottom
	footer.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
		.container-fluid
			ul.nav.navbar-nav.navbar-right.navbar-bottom
				li.entrepreneurialByNature
					a
						img(src='images/Footer.png', alt='Colorado is entrepreneurial by nature')
				li.connect-social
					a Connect | <i class="fa fa-angellist"> <i class="fa fa-github"> <i class="fa fa-stack-overflow"> <i class="fa fa-twitter"> <i class="fa fa-facebook"> <i class="fa fa-linkedin-square"> <i class="fa fa-reddit">