.navbar {
	margin-bottom: -20px;
}

#search-form {
	margin-top: 20%;
}

.jumbotron {
	background: url('images/factory2-bw.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 150px 0px;
}

.navbar-fixed-bottom {
	padding-top: 2%;
}

.image {
	width: 100px;
}

.toHide {
	color: black;
}